<div class="top">
  <div class="container-fluid">
    <div class='row-fluid'>
      <div class='span6'>
        <h1>Gram.ly</h1>
      </div>
      <div class='span6'>
      	<div class='row-fluid'>
      		<div class='span6'>
      			<a class="btn btn-large btn-block btn-primary" href= "/auth/instagram" type="button">Sign In with Instagram</a>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>


